name: Backend Maven Tests

on:
  # 1) Cuando se abre / actualiza un PR hacia la rama principal
  pull_request:
    branches:
      - master

  # 2) Ejecución manual desde la pestaña "Actions"
  workflow_dispatch:

jobs:
  test-backend:
    runs-on: ubuntu-latest

    
    defaults:
      run:
        working-directory: ./backend

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up JDK
        uses: actions/setup-java@v4
        with:
          distribution: 'corretto'   
          java-version: '21'        
          cache: 'maven'

      - name: Run Maven tests
        run: mvn -B clean test
 
